.clear {
  margin: 10px;
}

/* Layout Styles */
.col-10 {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Weather Card Styles */
.main-weather,
.five-day {
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(46, 52, 80);
  color: white;
  margin: 10px 0;
  padding: 10px;
}